body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 400px;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-btn-container,
.register-btn-container {
    display: flex;
    justify-content: flex-end;
}

.name-fields {
    display: flex;
    justify-content: space-between;
}

.half-width {
    width: 48%;
}